.container

  .page-header
    .pull-right
      = link_to "Create New Hero", new_hero_path, :class => "btn btn-default"
    %h1 Heroes

  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Base Health
        %th Attack
        %th Experience

    %tbody
    - @heroes.each do |hero|
      %tr
        %td
          = hero.name
        %td
          = hero.base_health
        %td
          = hero.base_attack
        %td
          = hero.experience
        %td
          = link_to "Edit", edit_hero_path(hero)
          |
          = link_to "Delete", hero_path(hero), method: :delete,
            :data => {:confirm => 'Are you sure?'}
