.container

  .page-header
    %h1
      = title

  = form_for @monster, :html => {:class => 'form-horizontal'} do |f|

    .form-group
      = f.label :name, :class => "control-label col-md-1"
      .col-md-4
        = f.text_field :name, :class => "form-control"

    .form-group
      = f.label :base_health, "Health", :class => "control-label col-md-1"
      .col-md-4
        = f.number_field :base_health, :class => "form-control"

    .form-group
      = f.label :base_attack, "Attack", :class => "control-label col-md-1"
      .col-md-4
        = f.number_field :base_attack, :class => "form-control"

    = f.submit button, :class => "col-md-offset-1 btn btn-default"
