.container

  .page-header
    .pull-right
      = link_to "Create New Monster", new_monster_path, :class => "btn btn-default"
    %h1 Monsters

  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Health
        %th Attack

    %tbody
    - @monsters.each do |monster|
      %tr
        %td
          = monster.name
        %td
          = monster.base_health
        %td
          = monster.base_attack
        %td
          = link_to "Edit", edit_monster_path(monster)
          |
          = link_to "Delete", monster_path(monster), method: :delete,
            :data => {:confirm => "Are you sure?"}
