.container

  .page-header
    .pull-right
      = link_to "Create New Skill", new_skill_path, :class => "btn btn-default"
    %h1 Skills


  %table.table
    %thead
      %tr
        %th Name
        %th Cost
        %th Assigned Hero
    %tbody
    - @skills.each do |skill|
      %tr
        %td
          = skill.name
        %td
          = skill.cost
        %td
          = form_for [skill], :html => {:class => 'form-inline'} do |f|

            = f.collection_select :hero_id, Hero.all, :id, :name,
            {include_blank: "Please select a hero... "}, {class: "form-control"}

            = f.submit "Assign", :class => "btn btn-default"
        %td
          = link_to "Edit", edit_skill_path(skill)
          |
          = link_to "Delete", skill_path(skill), method: :delete,
          :data => {:confirm => 'Are you sure?'}
