.container

  = link_to "Create New Character", new_character_path, :class => "btn btn-default pull-right"

  .page-header
    %h1
      Characters

  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Class
        %th HP
        %th MP
        %th Strength
        %th Agility
        %th Intelligence
        %th Vitality
    %tbody
    - @characters.each do |character|
      %tr
        %td
          = character.name
        %td
          = character.char_class
        %td
          = character.hp
        %td
          = character.mp
        %td
          = character.str
        %td
          = character.agi
        %td
          = character.int
        %td
          = character.vit
        %td
          = link_to "Edit", edit_character_path(character)
          |
          = link_to "Delete", character_path(character), method: :delete,
            :data => {:confirm => 'Are you sure?'}
