.container

  .jumbotron.text-center
    %h1.ff-font= title.upcase.gsub(/(?=[A-Z])/, ' ')

  .row
    .col-md-4.col-md-offset-1
      %h2 Hero
      %span.fa-stack.fa-5x
        %i.fa.fa-male.fa-stack-1x
        - if title == "Defeat"
          %i.fa.fa-remove.fa-stack-2x.text-danger

    .col-md-4.col-md-offset-2
      %h2 Monster
      %span.fa-stack.fa-5x
        %i.fa.fa-bug.fa-stack-1x
        - if title == "Victory"
          %i.fa.fa-remove.fa-stack-2x.text-danger

  .row
    .col-md-3.col-md-offset-1
      %table.table
        %thead
          %tr
            %th Name
            %th Health
            %th Attack
        %tbody
          %tr
            %td
              = @battle.hero.name
            %td
              = @battle.hero.current_health
            %td
              = @battle.hero.base_attack

    .col-md-3.col-md-offset-3
      %table.table
        %thead
          %tr
            %th Name
            %th Health
            %th Attack
        %tbody
          %tr
            %td
              = @battle.monster.name
            %td
              = @battle.monster.current_health
            %td
              = @battle.monster.base_attack

  .row
    .col-md-4.col-md-offset-3
      = link_to "Return to Battles", battles_path,
      :class => "btn btn-default bottom-button btn-lg col-md-6 col-md-offset-5"
