.container

  .page_header
    %h1 FIGHT!!


  .row
    .col-md-4.col-md-offset-1
      %h2 Hero
      %i.fa.fa-male.fa-5x

    .col-md-4.col-md-offset-2
      %h2 Monster
      %i.fa.fa-bug.fa-5x

  .row
    .col-md-3.col-md-offset-1
      %table.table
        %thead
          %tr
            %th Name
            %th HP
            %th Attack
        %tbody
          %tr
            %td
              = @battle.hero.name
            %td
              = @battle.hero.hp
            %td
              = @battle.hero.att

    .col-md-3.col-md-offset-3
      %table.table
        %thead
          %tr
            %th Name
            %th HP
            %th Attack
        %tbody
          %tr
            %td
              = @battle.monster.name
            %td
              = @battle.monster.hp
            %td
              = @battle.monster.att

  = form_for @battle do |f|
    = f.hidden_field(:hero_id, :value => @battle.hero.id)
    = f.hidden_field(:monster_id, :value => @battle.monster.id)
    = f.submit "Attack"
