.container

  .row

  - hero_current_health = @battle.hero.current_health
  - monster_current_health = @battle.monster.current_health
  - hero_percent = (hero_current_health*100)/@battle.hero.max_health
  - monster_percent = (monster_current_health*100)/@battle.monster.max_health

  .row.battle
    .col-md-4.col-md-offset-1.hero
      %h2= @battle.hero.name
      %i.fa.fa-male.fa-5x
      %h5= "Health: #{hero_current_health} / #{@battle.hero.max_health}"
      .progress
        .progress-bar.progress-bar-danger{"aria-valuemax" => "#{@battle.hero.max_health}", "aria-valuemin" => "0",
        "aria-valuenow" => "#{hero_current_health}", :role => "progressbar", :style => "width: #{hero_percent}%;"}


    .col-md-4.col-md-offset-2.monster
      %h2= @battle.monster.name
      %i.fa.fa-bug.fa-5x
      %buttton.btn.btn-default.col-md-offset-1.test
        Hide Monster
      %h5= "Health: #{monster_current_health} / #{@battle.monster.max_health}"
      .progress
        .progress-bar.progress-bar-danger{"aria-valuemax" => "#{@battle.monster.max_health}", "aria-valuemin" => "0",
        "aria-valuenow" => "#{monster_current_health}", :role => "progressbar", :style => "width: #{monster_percent}%;"}



  .row
    .col-md-4.col-md-offset-1
      %table.table
        %thead
          %tr
            %th Attack
        %tbody
          %tr
            %td
              = @battle.hero.current_attack

    .col-md-4.col-md-offset-2
      %table.table
        %thead
          %tr
            %th Attack
        %tbody
          %tr
            %td
              = @battle.monster.current_attack

  = form_for @battle do |f|
    = f.hidden_field(:hero_id, :value => @battle.hero.id)
    = f.hidden_field(:monster_id, :value => @battle.monster.id)
    .col-md-offset-1
      = f.submit "Attack", :class => "btn btn-default"
